/* fondo --> #2e2e2a
	hover --> #f9a91a */

body{
	font-family: sans-serif;
}

nav{

}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #2e2e2a;
	line-height: 40px;
	overflow: auto;
}

li{
	width: 100px;
	/*display: inline-block;*/
	text-align: center;
	float: left;
}

a{
	text-decoration: none;
	color: #fff ;
	display: block;
}

a:hover{
	background: #f9a91a;
	color: #000;
}